.App {
  display: grid;
  grid-template-rows: [header] auto [body] 1fr [footer] auto;
  grid-template-columns: 1fr;
  height: 100vh;
}

.AppHeader {
  grid-row: header / span 1;
}

.AppBody {
  grid-row: body / span 1;

  /* Necessary to making absolute children relative to this instead of the browser */
  position: relative;
}

.AppFooter {
  grid-row: footer / span 1;
}

.TodoBox {
  position: absolute;
  border: 1px solid red;
  box-sizing: border-box;
  padding: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
