@import "~flat-ui/css/flat-ui.css";

:root {
  --midnight-blue: #2c3e50;
  --wet-asphalt: #34495e;
  --peter-river: #3498db;

  --page-background: var(--midnight-blue);
  --todo-background: var(--peter-river);
  --text-color: white;
}

.App {
  display: grid;
  grid-template-rows: [header] auto [body] 1fr [footer] auto;
  grid-template-columns: 1fr;
  height: 100vh;

  .AppHeader {
    grid-row: header / span 1;
  }

  .AppBody {
    grid-row: body / span 1;
    background: var(--page-background);
    height: auto;
    color: var(--text-color);

    /* Necessary to making absolute children relative to this container instead of the browser */
    position: relative;

    /* Don't let boxes appear outside of this container */
    overflow: hidden;
  }

  .AppFooter {
    grid-row: footer / span 1;
  }
}

.TodoBox {
  position: absolute;
  box-sizing: border-box;
  padding: 10px;
  background: var(--todo-background);

  display: grid;
  grid-template-rows: [text] 1fr 10px [buttons] auto ;
  grid-template-columns: 1fr;

  textarea {
    color: red;
    background: var(--wet-asphalt);
    border: 0px;
    resize: none;

    box-sizing: border-box;
    width: 100%;
  }

  .text {
    grid-row: text / span 1;
  }

  .buttons {
    grid-row: buttons / span 1;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.btn {
  padding: 5px 10px;
}
